{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
      <!--section-->
      <div class="ps-section--hero"><img src="{% static 'images/hero/01.jpg' %}" alt="">
        <div class="ps-section__content text-center">
          <h3 class="ps-section__title">TAIPING BAKERY</h3>
          <div class="ps-breadcrumb">
            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'vault' %}">Cake's Vault</a></li>
              <li class="active">Cart</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="ps-section--cart pt-100 pb-100">
        <div class="container">
          <div class="ps-cart-listing">
            <p class="hidden-lg"><i>Slide right to view</i></p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>All Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart %}
                    {% with product=item.product %}
                  <tr>
                    <td>
                      <div class="ps-product--cart"><img src="{{ product.photo.url }}" alt=""><a href="product-detail.html">{{ product.name }}</a></div>
                    </td>
                    <td>RM {{ item.price }}</td>
                    <td>
                      <div class="form-group--number">
                        <input class="form-control" type="text" value="{{ item.quantity }}" disabled>
                      </div>
                    </td>
                    <td><span class="total-row">RM {{ item.total_price }}</span></td>
                    <td>
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                            <input type="submit" value="Remove" class="ps-btn ps-btn--sm ps-btn--fullwidth">
                            {% csrf_token %}
                        </form>
                    </td>
                  </tr>
                  {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="ps-cart__process">
              <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                      <div class="form-group form-group--icon ps-cart__promotion">
                        <div class="icon-wrap"><i class="fa fa-angle-right"></i>
                          <input class="form-control" type="text" placeholder="promotion code">
                        </div>
                      </div>
                      <div class="form-groupform-order">
                        <button class="ps-cart__shopping"><a href="{% url 'vault' %}">Continue Shopping</a></button>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                      <div class="ps-cart__total">
                        <p>Total Price: <span>RM {{ cart.get_total_price }}</span></p>
                        <div id="paypal-button-container"></div>
                        <button class="ps-btn ps-btn--sm ps-btn--fullwidth"><a href="{% url 'orders:cart_checkout' %}">Process to checkout</a></button>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}