[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-resized = "*"
braintree = "==3.59.0"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
