{% load static %}
<section class="ps-section ps-section--subscribe pt-80 pb-80">
    <div class="container">
      <div class="ps-subscribe">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h4>ABOUT US</h4>
            <p>
              Te pri oblique ullamcorper, magna persequeris has eu. Mei
              prompta dolores examad debet suavitate. Pri te vocibus
              electram. Eu eleifend rationibus vis, at.
            </p>
            <p class="text-uppercase ps-subscribe__highlight">
              144-146, Jalan Taming Sari, 34000 Taiping, Perak
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="ps-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="ps-widget ps-widget--footer ps-widget--payment">
            <div class="ps-widget__header">
              <h3 class="ps-widget__title">PAYMENTS ACCEPTED</h3>
            </div>
            <div class="ps-widget__content">
              <ul>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/payment/1.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/payment/2.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/payment/3.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/payment/4.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/payment/5.png' %}" alt=""
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="ps-widget ps-widget--footer ps-widget--worktime">
            <div class="ps-widget__header">
              <h3 class="ps-widget__title">WORK TIME</h3>
            </div>
            <div class="ps-widget__content">
              <p><strong>Monday - Friday</strong> 8:00 am - 8:30 pm</p>
              <p><strong>Satuday - Sunday</strong>10:00 am - 16:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="ps-widget ps-widget--footer ps-widget--connect">
            <div class="ps-widget__header">
              <h3 class="ps-widget__title">CONNECT US</h3>
            </div>
            <div class="ps-widget__content">
              <ul class="ps-widget__social">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
              <a href="#"
                ><img src="{% static 'images/app.jpg' %}" alt=""
              /></a>
              <p>@2021 Design by<a href="#"> Noesis Studio</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>