{% extends 'base.html' %} {% load static %}
{% block content %}
<div id="back2top"><i class="fa fa-angle-up"></i></div>
<div class="loader"></div>
<div class="page-wrap">
  <div class="ps-section--hero">
    <img src="{% static 'images/hero/03.jpg' %}" alt="" />
    <div class="ps-section__content text-center">
      <h3 class="ps-section__title">TAIPING BAKERY</h3>
      <div class="ps-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
  {% for bake in baker %}
  <div class="ps-section ps-section--about pt-100 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="ps-section__header text-center">
            <div class="ps-section__top">Our Baker</div>
            <h3 class="ps-section__title">{{ bake.name }}</h3>
          </div>
          <div class="ps-section__content text-center">
            <p>“{{ bake.description }}”</p>
            <div class="ps-about__sign text-center mb-30 mt-40">
              <img src="{% static 'images/about/img-signature.png' %}" alt="" />
            </div>
            <p class="ps-about-sign">CEO - Vanila Bakery Shop</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <img src="{% static 'images/about/about-intro.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="ps-section ps-section--award pt-80 pb-40">
    <div class="container">
      <div class="ps-section__header text-center mb-50">
        <div class="ps-section__top">Our Record</div>
        <h3 class="ps-section__title">WINNER AWARDS</h3>
      </div>
      <div class="ps-section__content">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ps-award text-center">
              <div class="ps-award__icon">
                <img src="{% static 'images/award/01.png' %}" alt="" />
              </div>
              <div class="ps-award__content">
                <h3>BAKERY OF THE YEAR</h3>
                <span>2010 - 2012</span>
                <p>
                  Tart bear claw cake tiramisu chocolate bar gummies dragée
                  lemon drops brownie. Jujubes chocolate cake sesame snaps
                </p>
                <a class="ps-btn ps-btn--xs" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ps-award text-center">
              <div class="ps-award__icon">
                <img src="{% static 'images/award/02.png' %}" alt="" />
              </div>
              <div class="ps-award__content">
                <h3>CUPCAKES SHOP OF THE YEAR</h3>
                <span>2010 - 2012</span>
                <p>
                  Tart bear claw cake tiramisu chocolate bar gummies dragée
                  lemon drops brownie. Jujubes chocolate cake sesame snaps
                </p>
                <a class="ps-btn ps-btn--xs" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ps-award text-center">
              <div class="ps-award__icon">
                <img src="{% static 'images/award/02.png' %}" alt="" />
              </div>
              <div class="ps-award__content">
                <h3>BAKERY OF THE MONTH</h3>
                <span>2010 - 2012</span>
                <p>
                  Tart bear claw cake tiramisu chocolate bar gummies dragée
                  lemon drops brownie. Jujubes chocolate cake sesame snaps
                </p>
                <a class="ps-btn ps-btn--xs" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="ps-section ps-section--team ps-section--team-2 pt-80 pb-80">
    <div class="container">
      <div class="ps-section__header text-center">
        <div class="ps-section__top">Golden Hand</div>
        <h3 class="ps-section__title ps-section__title--full">OUR TEAM</h3>
      </div>
      <div class="ps-section__content">
        <div class="row">
          {% for baker in baker_team %}
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <article class="ps-people ps-people--2">
              <div class="ps-people__thumbnail">
                <a class="ps-people__overlay" href="#"></a
                ><img src="{{ baker.photo.url}}" alt="" />
              </div>
              <div class="ps-people__content">
                <h4>{{ baker.name }}</h4>
                <span class="ps-people__position">{{baker.designation}}</span>
                <p>{{baker.description}}</p>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <div class="ps-section ps-section--partner">
    <div class="container">
      <div
        class="owl-slider"
        data-owl-auto="true"
        data-owl-loop="true"
        data-owl-speed="10000"
        data-owl-gap="40"
        data-owl-nav="false"
        data-owl-dots="false"
        data-owl-animate-in=""
        data-owl-animate-out=""
        data-owl-item="6"
        data-owl-item-xs="3"
        data-owl-item-sm="4"
        data-owl-item-md="5"
        data-owl-item-lg="6"
        data-owl-nav-left='&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;'
        data-owl-nav-right='&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;'
      >
        <a href="#"><img src="{% static 'images/partner/1.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/2.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/3.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/4.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/5.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/6.png' %}" alt="" /></a
        ><a href="#"><img src="{% static 'images/partner/7.png' %}" alt="" /></a
        ><a href="#"
          ><img src="{% static 'images/partner/8.png' %}" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}