{% extends 'base.html' %}
{% load static %}

      {% block content %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
      <div class="ps-banner--home-1">
        <div
          class="rev_slider_wrapper fullscreen-container"
          id="revolution-slider-1"
          data-alias="concept121"
          data-source="gallery"
          style="background-color: #000000; padding: 0px"
        >
          <div
            class="rev_slider fullscreenbanner"
            id="rev_slider_1059_1"
            style="display: none"
            data-version="5.4.1"
          >
            <ul class="ps-banner">
              <li
                data-index="rs-2972"
                data-transition="slidingoverlayhorizontal"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-thumb="../../assets/images/concept4-100x100.jpg"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Web Show"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <img
                  class="rev-slidebg"
                  src="{% static 'images/banner/img-slider-1.jpg' %}"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="5"
                  data-no-retina
                />
                <div
                  class="tp-caption ps-banner__caption"
                  id="layer01"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-100','-80','-120','-120']"
                  data-width="['none','none','none','400']"
                  data-whitespace="['nowrap','nowrap','nowrap','normal']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                  style="z-index: 7; white-space: nowrap; text-transform: left"
                >
                  We Implement Sweet Dream
                </div>
                <div
                  class="tp-caption ps-banner__description"
                  id="layer02"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['0','0','0','0']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-textAlign="['center','center','center','center']"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                >
                  Carrot cake macaroon topping jelly-o dessert cake. Tiramisu
                  gummies wafer brownie tiramisu cake. <br />
                  Icing powder candy canes cotton candy pie liquorice.
                </div>
                <a
                  class="tp-caption ps-btn ps-btn--lg"
                  href="{% url 'vault' %}"
                  id="layer03"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['80','70','70','70']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-textAlign="['center','center','center','center']"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                  >TRY OUR CUPCAKES <i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li
                data-index="rs-2973"
                data-transition="slidingoverlayhorizontal"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-thumb="../../assets/images/concept4-100x100.jpg"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Web Show"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <img
                  class="rev-slidebg"
                  src="{% static 'images/banner/img-slider-2.jpg' %}"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="5"
                  data-no-retina
                />
                <div
                  class="tp-caption ps-banner__caption"
                  id="layer04"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-100','-80','-120','-120']"
                  data-width="['none','none','none','400']"
                  data-whitespace="['nowrap','nowrap','nowrap','normal']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                  style="z-index: 7; white-space: nowrap; text-transform: left"
                >
                  A little bliss in every bite
                </div>
                <div
                  class="tp-caption ps-banner__description"
                  id="layer05"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['0','0','0','0']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-textAlign="['center','center','center','center']"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                >
                  Macaroon lollipop gummi bears liquorice sweet. Icing dessert
                  sweet apple pie chocolate cake. Jujubes halvah cupcake
                  cheesecake.
                </div>
                <a
                  class="tp-caption ps-btn ps-btn--lg"
                  href="#"
                  id="layer06"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['80','70','70','70']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-textAlign="['center','center','center','center']"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                  >ORDER NOW <i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <section class="ps-section ps-section--best-seller pt-40 pb-100">
        <div class="container">
          <div class="ps-section__header text-center mb-50">
            <h4 class="ps-section__top">Sweet Cupcakes</h4>
            <h3 class="ps-section__title ps-section__title--full">
              BEST SELLER
            </h3>
          </div>
          <div class="ps-section__content">
            <div
              class="owl-slider owl-slider--best-seller"
              data-owl-auto="true"
              data-owl-loop="true"
              data-owl-speed="5000"
              data-owl-gap="30"
              data-owl-nav="true"
              data-owl-dots="false"
              data-owl-animate-in=""
              data-owl-animate-out=""
              data-owl-item="4"
              data-owl-item-xs="1"
              data-owl-item-sm="2"
              data-owl-item-md="3"
              data-owl-item-lg="4"
              data-owl-nav-left='&lt;i class="ps-icon--back"&gt;&lt;/i&gt;'
              data-owl-nav-right='&lt;i class="ps-icon--next"&gt;&lt;/i&gt;'
            >
              {% if best_sellers %} {% for best_seller in best_sellers %}
              <div class="ps-product">
                <div class="ps-product__thumbnail">
                  {% if best_seller.discount %}
                  <div class="ps-badge">
                    <span>-{{best_seller.discount}}%</span>
                  </div>
                  {% endif %}
                  <a
                    class="ps-product__overlay"
                    href="{{ best_seller.get_absolute_url }}"
                  ></a
                  ><img src="{{best_seller.photo.url}}" alt="" />
                </div>
                <div class="ps-product__content">
                  <a
                    class="ps-product__title"
                    href="{{ best_seller.get_absolute_url }}"
                    >{{ best_seller.name }}</a
                  >{% if best_seller.after_discount %}
                  <p class="ps-product__price">RM {{ best_seller.after_discount }}</p>
                  {% else %}
                  <p class="ps-product__price">
                    RM {{ best_seller.price}}
                  </p>
                  {% endif %}
                </div>
              </div>
              {% endfor %} {% else %}
              <div class="col-md-12">
                <p>No Best Sellers</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <div
        class="ps-section ps-section--home-testimonial pb-30 bg--parallax"
        data-background="{% static 'images/parallax/img-bg-1.jpg' %}"
      >
        <div class="container">
          <div
            class="owl-slider"
            data-owl-auto="true"
            data-owl-loop="true"
            data-owl-speed="10000"
            data-owl-gap="0"
            data-owl-nav="false"
            data-owl-dots="true"
            data-owl-animate-in=""
            data-owl-animate-out=""
            data-owl-item="1"
            data-owl-item-xs="1"
            data-owl-item-sm="1"
            data-owl-item-md="1"
            data-owl-item-lg="1"
            data-owl-nav-left='&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;'
            data-owl-nav-right='&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;'
          >
            <div class="ps-testimonial text-center pt-80 pb-100">
              <div class="ps-testimonial__header">
                <div class="ps-testimonial__thumbnail">
                  <img src="{% static 'images/testimonial/1.jpg' %}" alt="" />
                </div>
                <select class="ps-rating">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="5">5</option>
                </select>
                <p>Logan May - CEO & Founder Invision</p>
              </div>
              <div class="ps-testimonial__content">
                <p>
                  Dessert pudding dessert jelly beans cupcake sweet caramels
                  gingerbread. Fruitcake biscuit cheesecake. Cookie topping
                  sweet muffin pudding tart bear claw sugar plum croissant.
                </p>
              </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
              <div class="ps-testimonial__header">
                <div class="ps-testimonial__thumbnail">
                  <img src="images/testimonial/2.jpg" alt="" />
                </div>
                <select class="ps-rating">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="5">5</option>
                </select>
                <p>Logan May - CEO & Founder Invision</p>
              </div>
              <div class="ps-testimonial__content">
                <p>
                  Dessert pudding dessert jelly beans cupcake sweet caramels
                  gingerbread. Fruitcake biscuit cheesecake. Cookie topping
                  sweet muffin pudding tart bear claw sugar plum croissant.
                </p>
              </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
              <div class="ps-testimonial__header">
                <div class="ps-testimonial__thumbnail">
                  <img src="images/testimonial/3.jpg" alt="" />
                </div>
                <select class="ps-rating">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="5">5</option>
                </select>
                <p>Logan May - CEO & Founder Invision</p>
              </div>
              <div class="ps-testimonial__content">
                <p>
                  Dessert pudding dessert jelly beans cupcake sweet caramels
                  gingerbread. Fruitcake biscuit cheesecake. Cookie topping
                  sweet muffin pudding tart bear claw sugar plum croissant.
                </p>
              </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
              <div class="ps-testimonial__header">
                <div class="ps-testimonial__thumbnail">
                  <img src="images/testimonial/4.jpg" alt="" />
                </div>
                <select class="ps-rating">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="5">5</option>
                </select>
                <p>Logan May - CEO & Founder Invision</p>
              </div>
              <div class="ps-testimonial__content">
                <p>
                  Dessert pudding dessert jelly beans cupcake sweet caramels
                  gingerbread. Fruitcake biscuit cheesecake. Cookie topping
                  sweet muffin pudding tart bear claw sugar plum croissant.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="ps-section ps-section--offer pt-80 pb-40"></section>
      <section class="ps-section ps-section--list-product pt-40 pb-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="ps-section__header">
                <h3 class="ps-section__title ps-section__title--left">
                  HOT CAKE
                </h3>
              </div>
              <div class="ps-section__content">
                {% for hot_cake in hot_cakes %}
                <div class="ps-product--list">
                  <div class="ps-product__thumbnail">
                    <a
                      class="ps-product__overlay"
                      href="{{ hot_cake.get_absolute_url }}"
                    ></a
                    ><img src="{{ hot_cake.photo.url }}" alt="" />
                  </div>
                  <div class="ps-product__content">
                    <h4 class="ps-product__title">
                      <a href="{{ hot_cake.get_absolute_url }}"
                        >{{ hot_cake.name }}</a
                      >
                    </h4>
                    <p>{{ hot_cake.description }}</p>
                    {% if hot_cake.after_discount %}
                    <p class="ps-product__price">
                      <del>RM {{hot_cake.price}}</del>RM
                      {{hot_cake.after_discount}}
                    </p>
                    <a
                      class="ps-btn ps-btn--xs"
                      href="{{ hot_cake.get_absolute_url }}"
                      >Order now<i class="fa fa-angle-right"></i
                    ></a>
                    {% else %}
                    <p class="ps-product__price">RM {{hot_cake.price}}</p>
                    <a class="ps-btn ps-btn--xs" href="cart.html"
                      >Order now<i class="fa fa-angle-right"></i
                    ></a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="ps-section__header">
                <h3 class="ps-section__title ps-section__title--left">
                  New CAKE
                </h3>
              </div>
              <div class="ps-section__content">
                {% for new_cake in new_cakes %}
                <div class="ps-product--list">
                  <div class="ps-product__thumbnail">
                    <a
                      class="ps-product__overlay"
                      href="{{ new_cake.get_absolute_url }}"
                    ></a
                    ><img src="{{ new_cake.photo.url }}" alt="" />
                  </div>
                  <div class="ps-product__content">
                    <h4 class="ps-product__title">
                      <a href="{{ new_cake.get_absolute_url }}"
                        >{{new_cake.name}}</a
                      >
                    </h4>
                    <p>{{new_cake.description}}</p>
                    {% if new_cake.after_discount %}
                    <p class="ps-product__price">
                      <del>RM {{new_cake.price}}</del>RM
                      {{new_cake.after_discount}}
                    </p>
                    <a
                      class="ps-btn ps-btn--xs"
                      href="{{ new_cake.get_absolute_url }}"
                      >Order now<i class="fa fa-angle-right"></i
                    ></a>
                    {% else %}
                    <p class="ps-product__price">RM {{new_cake.price}}</p>
                    <a class="ps-btn ps-btn--xs" href="cart.html"
                      >Order now<i class="fa fa-angle-right"></i
                    ></a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="ps-section ps-section--partner">
        <div class="container">
          <div
            class="owl-slider"
            data-owl-auto="true"
            data-owl-loop="true"
            data-owl-speed="10000"
            data-owl-gap="40"
            data-owl-nav="false"
            data-owl-dots="false"
            data-owl-animate-in=""
            data-owl-animate-out=""
            data-owl-item="6"
            data-owl-item-xs="3"
            data-owl-item-sm="4"
            data-owl-item-md="5"
            data-owl-item-lg="6"
            data-owl-nav-left='&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;'
            data-owl-nav-right='&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;'
          >
            <a href="#"
              ><img src="{% static 'images/partner/1.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/2.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/3.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/4.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/5.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/6.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/7.png' %}" alt="" /></a
            ><a href="#"
              ><img src="{% static 'images/partner/8.png' %}" alt=""
            /></a>
          </div>
        </div>
      </div>

    </div>
    {% endblock %}