{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
      <!-- Heros-->
      <div class="ps-section--hero">
        <img src="{% static 'images/hero/01.jpg' %}" alt="" />
        <div class="ps-section__content text-center">
          <h3 class="ps-section__title">TAIPING BAKERY</h3>
          <div class="ps-breadcrumb">
            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li class="active">Cake's Vault</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="ps-section--page">
        <div class="container">
          <div class="row">
            <div
              class="
                col-lg-9
                col-md-9
                col-sm-12
                col-xs-12
                col-lg-push-3
                col-md-push-3
              "
            >
              <div class="ps-shop-listing pt-80 pb-40">
                <div class="ps-shop">
                  {% if menus %} {% for menu in menus %}
                  <div class="ps-product--list ps-product--list-large">
                    <div class="ps-product__thumbnail">
                      {% if menu.discount %}
                      <div class="ps-badge">
                        <span>-{{ menu.discount }}%</span>
                      </div>
                      {% endif %}
                      <a
                        class="ps-product__overlay"
                        href="{{ menu.get_absolute_url }}"
                      ></a
                      ><img src="{{ menu.photo.url }}" alt="" />
                    </div>
                    <div class="ps-product__content">
                      <h4 class="ps-product__title">
                        <a href="{{ menu.get_absolute_url }}"
                          >{{ menu.name }}</a
                        >
                      </h4>
                      {% if menu.after_discount %}
                      <p class="ps-product__price">
                        <del>RM {{menu.price}}</del>RM {{menu.after_discount}}
                        {% else %}
                      </p>

                      <p class="ps-product__price">
                        RM {{menu.price}} {% endif %}
                      </p>

                      <p>
                        Lollipop dessert donut marzipan cookie bonbon sesame
                        snaps chocolate. Cupcake sweet roll sweet dragée dragée.
                        Lollipop dessert donut marzipan cookie bonbon sesame
                        snaps chocolate cake.
                      </p>
                      <footer class="ps-product__footer clearfix">
                        <a
                          class="ps-btn ps-btn--sm"
                          href="{{ menu.get_absolute_url }}"
                          >Order now<i class="fa fa-angle-right"></i
                        ></a>
                      </footer>
                    </div>
                  </div>
                  {% endfor %} {% else %}
                  <div class="ps-product--list ps-product--list-large">
                    <h2>There's no result</h2>
                  </div>
                  {% endif %}
                </div>
                <div class="ps-pagination">
                  {% if menus.has_other_pages %}
                  <ul class="pagination">
                    {% if menus.has_previous %}
                    <li>
                      <a href="?page={{ menus.previous_page_number }}"
                        ><i class="fa fa-arrow-left"></i
                      ></a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <a><i class="fa fa-arrow-left disabled"></i></a>
                    </li>
                    {% endif %} {% for i in menus.paginator.page_range %} 
                    {% if menus.number == i %}
                    <li class="active"><a>{{i}}</a></li>
                    {% else %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                    {% endif %} 
                    {% endfor %} 
                    {% if menus.has_next %}
                    <li>
                      <a href="?page={{ menus.next_page_number }}"
                        ><i class="fa fa-arrow-right"></i
                      ></a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <a><i class="fa fa-arrow-right"></i></a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
            <div
              class="
                col-lg-3
                col-md-3
                col-sm-12
                col-xs-12
                col-lg-pull-9
                col-md-pull-9
              "
            >
              <div class="ps-sidebar">
                <aside class="ps-widget ps-widget--sidebar ps-widget--search">
                  <form method="GET">
                    <input
                      class="form-control"
                      name="q"
                      type="text"
                      placeholder="Search"
                    />
                    <button type="submit">
                      <i class="ps-icon--search"></i>
                    </button>
                  </form>
                </aside>

                <aside
                  class="ps-widget ps-widget--sidebar ps-widget--best-seller"
                >
                  <div class="ps-widget__header">
                    <h3 class="ps-widget__title">New Cakes</h3>
                  </div>
                  <div class="ps-widget__content">
                    {% for new in new_cakes %}
                    <div class="ps-product--sidebar">
                      <div class="ps-product__thumbnail">
                        <a
                          class="ps-product__overlay"
                          href="{{ new.get_absolute_url }}"
                        ></a
                        ><img src="{{ new.photo.url }}" alt="" />
                      </div>
                      <div class="ps-product__content">
                        <h4 class="ps-product__title">
                          <a href="{{ new.get_absolute_url }}"
                            >{{ new.name }}</a
                          >
                        </h4>
                        {% if after_discount %}
                        <p class="ps-product__price">RM {{ new.price }}</p>
                        {% else %}
                        <p class="ps-product__price">
                          <del>RM {{ new.price }}</del>RM {{new.after_discount}}
                        </p>
                        {% endif %}
                        <a
                          class="ps-btn ps-btn--xs"
                          href="{{ new.get_absolute_url }}"
                          >Purchase</a
                        >
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </aside>
                <aside
                  class="ps-widget ps-widget--sidebar ps-widget--best-seller"
                >
                  <div class="ps-widget__header">
                    <h3 class="ps-widget__title">Best seller</h3>
                  </div>
                  <div class="ps-widget__content">
                    {% for best in best_sellers %}
                    <div class="ps-product--sidebar">
                      <div class="ps-product__thumbnail">
                        <a
                          class="ps-product__overlay"
                          href="{{ best.get_absolute_url }}"
                        ></a
                        ><img src="{{ best.photo.url }}" alt="" />
                      </div>
                      <div class="ps-product__content">
                        <h4 class="ps-product__title">
                          <a href="{{ best.get_absolute_url }}"
                            >{{ best.name }}</a
                          >
                        </h4>
                        {% if after_discount %}
                        <p class="ps-product__price">RM {{ best.price }}</p>
                        {% else %}
                        <p class="ps-product__price">
                          <del>RM {{ best.price }}</del>RM
                          {{best.after_discount}}
                        </p>
                        {% endif %}
                        <a
                          class="ps-btn ps-btn--xs"
                          href="{{ best.get_absolute_url }}"
                          >Purchase</a
                        >
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}