{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
      <!-- Heros-->
      <div class="ps-section--hero">
        <img src="{% static 'images/hero/02.jpg' %}" alt="" />
        <div class="ps-section__content text-center">
          <h3 class="ps-section__title">TAIPING BAKERY</h3>
          <div class="ps-breadcrumb">
            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'vault' %}">Cake's Vault</a></li>
              <li class="active">{{listing.name}}</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="ps-section pt-80 pb-80">
        <div class="container">
          <div class="ps-product--detail">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="ps-product__thumbnail">
                  <div>
                    <div class="ps-product__image">
                      <img src="{{listing.photo.url}}" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <header>
                  <h3 class="ps-product__name">{{listing.name}}</h3>
                  {% if listing.after_discount %}
                    <p class="ps-product__price">RM {{listing.after_discount}} <del>RM {{ listing.price }}</del></p>
                  {% else %}
                  <p class="ps-product__price">RM {{listing.price}} </del></p>
                  {% endif %}
                  <a
                    class="ps-product__quickview "
                    >QUICK OVERVIEW</a
                  >
                  <div class="ps-product__description">
                    <p>
                      {{ listing.description }}
                    </p>

                  </div>
                  <div class="ps-product__meta">
                    <p><span> Availability: </span> In stock</p>
                  </div>
                </header>
                <footer>
                  <form action="{% url 'cart:cart_add' listing.id %}" method="post">
                    <div class="ps-product__shop">
                      <div class="form-group">
                        {{ cart_product_form }}
                      </div>  
                    </div>
                    {% csrf_token %}
                    <input type="submit" value="Add to cart" class="ps-btn--fullwidth ps-btn">
                  </form>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
{% endblock %}