{% load static %}
<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="favicon.png" rel="icon" />
    <meta name="author" content="#{author}" />
    <meta name="keywords" content="#{keyword}" />
    <meta name="description" content="#{description}" />
    <title>Taiping Bakery | Your #1 Choice</title>
    <!-- Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700%7CPacifico%7CVarela+Round%7CPoppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}"
    />
    <link rel="stylesheet" href="{% static 'plugins/ps-icon/ps-icon.css' %}" />
    <!-- CSS Library-->
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/Magnific-Popup/dist/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/slick/slick/slick.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/revolution/css/settings.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/revolution/css/layers.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/revolution/css/navigation.css' %}"
    />
    <!-- Custom-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9
      ]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>
  <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
  <body class="page-init">
    <div class="header--sidebar"></div>
    <header class="header" data-responsive="1199">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
              <p>
                144-146, Jalan Taming Sari, 34000 Taiping, Perak - Hotline:
                05-8073354
              </p>
            </div>
          </div>
        </div>
      </div>
      {% include 'partials/_navbar.html' %}
    </header>
    {% block content %} {% endblock %} {% include 'partials/_footer.html' %}
    <!-- JS Library-->
    <script
      type="text/javascript"
      src="{% static 'plugins/jquery/dist/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/overflow-text.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/masonry.pkgd.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/imagesloaded.pkgd.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/jquery-nice-select/js/jquery.nice-select.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/moment.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/slick/slick/slick.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/gmap3.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB458d7lg9ttCaCfXKPEf-LBAebMMw5RaU&amp;region=GB"
    ></script>
    <!-- Revolution - slider-->
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"
    ></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
