{% extends 'base.html' %} {% load static %} {% block content %}
<div id="back2top"><i class="fa fa-angle-up"></i></div>
<div class="loader"></div>
<div class="page-wrap">
  <!--section-->
  <div class="ps-section--hero">
    <img src="{% static 'images/hero/01.jpg' %}" alt="" />
    <div class="ps-section__content text-center">
      <h3 class="ps-section__title">TAIPING BAKERY</h3>
      <div class="ps-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Cart</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="ps-about__sign text-center mb-30 mt-40">
      <h1>Your payment has not been processed</h1>
      <p>There was a problem processing your payment.</p>
    </div>
  </div>
</div>
{% endblock %}
